.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity .3s;
    z-index: 999;
    pointer-events: none;
}

.backdrop.active {
    opacity: 1;
    pointer-events: auto;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 44%;
    height: 100vh;
    background-color: #095e53;
    color: #fff;
    padding: 20px;
    transform: translateX(100%);
    transition: transform .3s ease;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.cart.active {
    transform: translateX(0);
}

.cart.active .cart-summary {
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #095e53;
}

.cart-items {
    min-height: 65%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    padding-bottom: 140px;
}

.cart-items li {
    display: grid;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    grid-template-columns: 1fr auto auto auto;
    column-gap: 16px;
}

.item-name {
    margin-right: auto;
}

.item-controls {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-self: center;
}

.item-controls .dec,
.item-controls .inc {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    color: #fff;
}

.item-controls svg {
    fill: currentColor;
}

.item-controls button:hover svg {
    opacity: 0.7;
}

.item-qty {
    margin: 0 8px;
}

.item-price {
    justify-self: end;
    min-width: 60px;
    text-align: right;
}

.remove {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    color: #fff;
    justify-self: end;
}

.remove svg {
    stroke: currentColor;
}

.remove:hover svg {
    opacity: 0.7;
}

.cart-summary {
    flex: 0 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 0 0;
    font-size: 1.1em;
}

.cart-summary > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
