body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #9bc0bb;
}

body.no-scroll {
    overflow: hidden;
}

.banner-header {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.content {
    padding: 0 20px;
}

.company-logo {
    position: relative;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 0 20px;
    display: block;
}

.company-name,
.company-rating {
    position: relative;
    top: -60px;
}

.h2-space {
    padding: 12px 0;
}

.banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.dish-block {
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.dish-block:hover {
    background-color: #004f4554;
}

.add-to-cart {
    font-size: 38px;
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .cart {
        width: 90% !important;
    }
}